pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@range(\n  0,\n  div(\n    sub(\n      ticks(formatDateTime(utcNow(),'yyyy-MM-dd')),\n      ticks(pipeline().parameters.startDate)\n    ),\n    864000000000\n  )\n)\n",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "y",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"startDate": {
				"type": "string",
				"defaultValue": "2026-01-06"
			}
		},
		"variables": {
			"x": {
				"type": "String"
			},
			"y": {
				"type": "Integer"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-01-08T05:52:31Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}